module.exports = {
    emailFrom: 'manfred.steyer@gmx.net',
    emailTo: 'manfred.steyer@gmx.net',
    bookLink: '<bookLink>',
    twitterLink: 'http://twitter.com/ManfredSteyer',
    facebookLink: 'http://facebook.com/Manfred.Steyer',
    smtpConfig: {
        service: "GMX",
        host: '',
        port: 587,
        secure: true,
        auth: {
            user: "",
            pass: ""
        }
    }
}

